nav {
    .logo {
        h1 {
            font-size:xx-large;
            font-weight: 700;
            color: white;
            span{
                color: rgb(64, 189, 239);
            }
        }
    }
    ul {
        li  a{
            color: white;
            font-size: 15px;


        }
    }
}